		<!--
			Main navigation.
			Sorting options.
		-->
		<div id="allNavigation">
			<%= render :partial => "shared/nav" %>
		</div><!-- end #allNavigation -->
		
		<!--
			Container with all items.
			Pagination.
		-->
		<div id="content">
			<ul class="buyStages">
				<li class="stageDone">
					<div class="stageImg">1</div>
					<div class="stageName itemsSelection">Items selection</div>
				</li>
				<li class="stageDone">
					<div class="stageImg">2</div>
					<div class="stageName deliveryType">Delivery type</div>
				</li>
				<li>
					<div class="stageImg">3</div>
					<div class="stageName">Payment</div>
				</li>
				<li>
					<div class="stageImgCheckout">4</div>
					<div class="stageName checkOutPos">Checkout</div>
				</li>
				<div class="clearall"></div>
			</ul>
			
			<div class="delivery_type">
				<h1>Select delivery type below:</h1>
				<form>
					<ul>
						<li>
							<input id="download" type="radio" name="delivery_type" value="download" /><label for="download"> Download files from our server</label>
						</li>

						<li>
							<input id="collect" type="radio" name="delivery_type" value="collect" /><label for="collect"> Collect items in our store</label>
						</li>

						<li>
							<input id="dispatch" type="radio" name="delivery_type" value="dispatch" /><label for="dispatch"> Dispatch items to your address</label>
						</li>
						<div class="clearall"></div>
					</ul>
					<a href="#" class="continue">Payment &#62;</a>
				</form>
				<div class="clearall"></div>
			</div><!-- end .delivery_type -->
			
		</div><!-- end #content -->