	<!--
		Main navigation.
		Sorting options.
	-->
	<div id="allNavigation">
        <%= render :partial => "shared/nav" %>
	</div><!-- end #allNavigation -->
	
	<!--
		Container with all items.
		Pagination.
	-->
	<div id="content">
	    <% unless @promotions.empty? %>
    		<div class="slider-wrapper theme-default">
                <div class="ribbon"></div>
                <div id="slider" class="nivoSlider">
                    <% @promotions.each do |promotion| %>
    				    <%= link_to image_tag(promotion_image_path(promotion), :title => promotion.title), promotion.url %>
    				<% end %>
                </div>
            </div>			
    		<div class="clearall"></div>
		<% end %>
		
		<% unless @featured.empty? %>
		<ul id="itemsTitleBar">
			<li class="nameDesc">Name/Description</li>
            <li class="sortStock">In stock</li>
			<li class="showPrice">Price</li>
			<div class="clearall"></div>
		</ul><!-- end #itemsTitleBar -->
		
        	<% @featured.each do |product| %>	
                <%= render :partial => "stocks/product", :locals => { :product => product } %>
        	<% end %>
		<% end %>
	</div><!-- end #content -->