<!--
	Main navigation.
	Sorting options.
-->
<div id="allNavigation">
    <%= render :partial => "shared/nav" %>
    <%= render :partial => "shared/sortnav" %>
</div><!-- end #allNavigation -->

<!--
	Container with all items.
	Pagination.
-->
<div id="content">
	<h1>Create your own account</h1>
			
	<form action="" id="regFields">
		<input type="text" name="firstName" placeholder="First Name" /><br />
		<input type="text" name="lastName" placeholder="Last Name" /><br />
		<input type="text" name="email" placeholder="Email" /><br />
		<input type="password" name="password" placeholder="Password" /><br />
		<input type="password" name="retypePass" placeholder="Retype Password" /><br />
		<input type="submit" value="Submit" />
	</form>
</div><!-- end #content -->