<!--
	Main navigation.
	Sorting options.
-->
<div id="allNavigation">
	<%= render :partial => "shared/nav" %>
</div><!-- end #allNavigation -->

<!--
	Container with all items.
	Pagination.
-->
<div id="content">
	<ul class="buyStages">
		<li class="stageDone">
			<div class="stageImg">1</div>
			<div class="stageName itemsSelection">Items selection</div>
		</li>
		<li class="stageDone">
			<div class="stageImg">2</div>
			<div class="stageName deliveryType">Delivery</div>
		</li>
		<li class="stageDone">
			<div class="stageImg">3</div>
			<div class="stageName">Payment</div>
		</li>
		<li>
			<div class="stageImgCheckout">4</div>
			<div class="stageName checkOutPos">Checkout</div>
		</li>
		<div class="clearall"></div>
	</ul>
	
	<div class="delivery_type">
		<h1>We are proceding your payment...</h1>
		<div id="loading_throbber"></div>
		
		<%= link_to raw("&#60; Delivery"), carts_delivery_path, :class => "goBack" %>		
	    <%= button_to raw("Checkout &#62;"), orders_path, :class => "continue" %>
		<div class="clearall"></div>
	</div><!-- end .delivery_type -->
	
</div><!-- end #content -->